<app-navbar></app-navbar>
<!-- <h1 *ngFor="let arr of patientsData">
    {{arr.patientID}}
</h1> -->

<div class="container">
    <h2>Patients List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Date of Birth</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patientsData">
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.dateOfBirth }}</td>
          <td>
            <button class="btn btn-primary" (click)="editPatient(patient)">Edit</button>
            <button class="btn btn-danger" (click)="deletePatient(patient)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>